src/*.o
src/moc_*.cpp
src/moc_*.o
src/moc_predefs.h
src/.qmake.stash
src/Makefile
src/icp_petri
src/icp_petri.app/

generated/*.cpp
generated/interpreter_*
generated/Makefile

doc/html/
doc/latex/

*.pro.user
*.pro.user.*

.DS_Store

*.zip
*.tar.gz
